# GitHub Account Access Token
GITHUB_AUTH=

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Stripe Price IDs
PLAN_STARTER=
PLAN_PRO=
PLAN_PREMIUM=

# GitHub App
PEM_FILE=
APP_ID=

# SendGrid
SENDGRID_API_KEY=
SENDGRID_SENDER=

# Slack bot
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=